<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>$error</title>
</head>
<body>
<div style="text-align:center">
    <h1>>_< !!</h1>

    <h1>啊哦！这个页面好像不能访问了...</h1>

    <h2>Reason: $error</h2>

</div>
</body>
</html>
